@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, 'arial';
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.header{
  width: 100%;
  height: auto;
  padding: 25px 0px;
  text-align: center;
  border-bottom: 1px solid rgb(124, 116, 116);
}

.header h1{
  font-weight: bold;
  color: black;
  font-size: 25px;
}

.total{
  width: 100%;
  height: auto;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(124, 116, 116);
  justify-content: space-around;
}

.total h2{
  font-weight: bold;
  font-size: 25px;
}

.container button{
  background-color: #3b74f2;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin: 32px 0px;
  height: auto;
  min-height: 80px;
  color: white;
  border: 0;
  border-radius: 5px;
  min-width: 250px;
}

.freteFree{
  width: 40%;
  text-align: center;
  border-radius: 20px;
  min-width: 250px;
  color: #217a00;
  padding: 20px;
  background-color:  #c7ffa6;
}